// Variables 

$fontFraunces: 'Fraunces', serif; 
$fontBarlow: 'Barlow', sans-serif; 
    // Colors

$desaturatedCyan:hsl(167, 40%, 24%); // Graphic design text 
$darkBlue: hsl(198, 62%, 26%); // Photography text  
$moderateCyan: hsl(168, 34%, 41%); // Footer
$softRed: hsl(7, 99%, 70%); 
$yellow: hsl(51, 100%, 49%); 
$white: white; 
