// Variables
$fontFraunces: "Fraunces", serif;
$fontBarlow: "Barlow", sans-serif;
// Colors
$desaturatedCyan: hsl(167, 40%, 24%); // Graphic design text
$darkBlue: hsl(198, 62%, 26%); // Photography text
$moderateCyan: hsl(168, 53%, 62%); // Footer
$softRed: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$white: white;
$veryDarkBlue: hsl(213, 9%, 39%);
$grayishBlue: hsl(210, 4%, 67%);
$veryDarkdesaturatedBlue: hsl(212, 27%, 19%);
$darkGray: hsl(232, 10%, 55%);
// Functions
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}
@mixin paragraphStyle() {
  text-align: center;
  font-family: $fontBarlow;
  color: $darkGray;
  font-weight: 600;
  line-height: 1.8rem;
  font-size: 1.2rem;
}
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  position: relative;
}

//NAVBAR-------------------------
//---------------------------NAVBAR

.navbar_mobile {
  position: absolute;
  width: 100%;
  .navbar_items {
    @include flex(space-between, center);
    padding: 20px;
  }
}
//NAVBAR-------------------------
//---------------------------NAVBAR

//HEADER---------------------
// ---------------------HEADER
.header {
  @include flexCenter();
  .image_header_mobile {
    width: 100%;
  }
  .header_text {
    max-width: 31.5rem;
    width: 100%;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    top: 2%;

    h1 {
      max-width: 50rem;
      width: 100%;
      font-size: 2.7rem;
      padding: 2rem;
      font-family: $fontFraunces;
      text-align: center;
      color: white;
      letter-spacing: 0.8rem;
      margin-bottom: 4rem;
    }
    img {
      max-width: 3.2rem;
    }
  }
}
//HEADER---------------------
// ---------------------HEADER

//MAIN CONTENT----------------
//-----------------MAIN CONTENT

.main_content {
  .transform_brand {
    img {
      width: 100%;
    }
    .transform_text {
      @include flexCenter();
      flex-direction: column;
      padding: 4.3rem 1.8rem;
    }
    h2 {
      font-family: $fontFraunces;
      font-size: 2rem;
      text-align: center;
      color: $veryDarkdesaturatedBlue;
    }
    p {
      @include paragraphStyle();
    }
    h3 {
      font-family: $fontFraunces;
      color: $veryDarkdesaturatedBlue;
      text-transform: uppercase;
      font-weight: 800;
      position: relative;
      z-index: 2;
      font-size: 1rem;
    }
    h3::after {
      content: " ";
      position: absolute;
      background-color: $yellow;
      width: 115px;
      height: 10px;
      left: 0;
      top: 70%;
      border-radius: 15px;
      z-index: 0;
      opacity: 40%;
    }
  }
  .stand_out {
    img {
      width: 100%;
    }
    .stand_out_text {
      @include flexCenter();
      flex-direction: column;
      padding: 4.3rem 1.8rem;
    }
    h2 {
      font-family: $fontFraunces;
      font-size: 2rem;
      text-align: center;
      color: $veryDarkdesaturatedBlue;
    }
    p {
      @include paragraphStyle();
    }
    h3 {
      font-family: $fontFraunces;
      color: $veryDarkdesaturatedBlue;
      text-transform: uppercase;
      font-weight: 800;
      position: relative;
      z-index: 2;
      font-size: 1rem;
    }
    h3::after {
      content: " ";
      position: absolute;
      background-color: $softRed;
      width: 115px;
      height: 10px;
      left: 0;
      top: 70%;
      border-radius: 15px;
      z-index: 0;
      opacity: 40%;
    }
  }
  .desktop_photography,
  .desktop_design {
    display: none;
  }
  .graphic_design {
    position: relative;
    img {
      width: 100%;
      height: 100%;
    }
    .graphic_design_text {
      @include flexCenter();
      flex-direction: column;
      padding: 4.3rem 1.8rem;
      position: absolute;
      top: 50%;
    }
    h2 {
      font-family: $fontFraunces;
      font-size: 2rem;
      text-align: center;
      color: $desaturatedCyan;
    }
    p {
      @include paragraphStyle();
      color: $desaturatedCyan;
    }
  }
  .photography {
    position: relative;
    img {
      width: 100%;
    }
    .photography_text {
      @include flexCenter();
      flex-direction: column;
      padding: 4.3rem 1.8rem;
      position: absolute;
      top: 50%;
    }
    h2 {
      font-family: $fontFraunces;
      font-size: 2rem;
      text-align: center;
      color: $darkBlue;
    }
    p {
      @include paragraphStyle();
      color: $darkBlue;
    }
  }

  //CLIENT TESTIMONIALS..............
  //...............CLIENT TESTIMONIALS

  .client_testimonials {
    h2 {
      font-family: $fontFraunces;
      font-size: 1.1rem;
      text-align: center;
      color: $grayishBlue;
      text-transform: uppercase;
      letter-spacing: 0.3rem;
      margin-top: 3.5rem;
      margin-bottom: 2.1rem;
      font-weight: bolder;
    }

    @include flexCenter();
    flex-direction: column;
    div {
      @include flexCenter();
      flex-direction: column;
      padding: 40px 30px;
      img {
        max-width: 74px;
        border-radius: 50%;
        margin-bottom: 15px;
      }
      p {
        @include paragraphStyle();
      }
      h3 {
        font-family: $fontFraunces;
        font-size: 1.5rem;
        text-align: center;
        color: $veryDarkdesaturatedBlue;
        font-weight: 900;
        margin-bottom: 0.6rem;
      }
      h4 {
        font-family: $fontBarlow;
        color: $darkGray;
        font-weight: 600;
        margin-top: 0rem;
      }
    }
  }

  //CLIENT TESTIMONIALS..............
  //...............CLIENT TESTIMONIALS

  //IMAGES GROUP.................
  //................IMAGES GROUP

  .images_group {
    display: grid;
    grid-template-columns: repeat(2, 12fr);
    grid-template-rows: auto auto;
    margin-top: 1.3rem;
    img {
      width: 100%;
    }
  }

  //IMAGES GROUP.................
  //................IMAGES GROUP
}
//FOOTER................
//...............FOOTER
.footer {
  background-color: $moderateCyan;
  padding: 71px 55px;
  @include flexCenter();
  flex-direction: column;
  .logo_footer {
    margin-bottom: 80px;
    width: 13rem;
  }
  .footer_content {
    margin-bottom: 80px;
    display: flex;
    gap: 5rem;
    align-items: center;
    a {
      text-decoration: none;
      color: $desaturatedCyan;
      font-family: $fontBarlow;
      font-weight: 800;
      font-size: 1.3rem;
      opacity: 50%;
    }
  }
  .social_media_icons {
    display: flex;
    align-items: center;
    gap: 2rem;
    img {
      width: 25px;
    }
  }
}

// HIDE DESKTOP NAVBAR
// ...................
.navbar_desktop {
  display: none;
}
.image_header_desktop {
  display: none;
}
// DESKTOP............MEDIA QUERY
//..........DESKTOP
@media (min-width: 65em) {
  // NAVBAR DESKTOP
  .navbar_desktop {
    display: block;
    position: absolute;
    width: 100%;

    .navbar_items_desktop {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 2rem;

      .nav_content {
        text-decoration: none;
        font-family: $fontBarlow;
        color: white;
        display: flex;
        gap: 3rem;
        margin-right: 1rem;
        justify-content: center;
        align-items: center;

        a {
          text-decoration: none;
          font-family: $fontBarlow;
          color: white;
          font-weight: 600;
        }
        .contact {
          font-family: $fontFraunces;
          background-color: white;
          color: black;
          padding: 0.8rem 1.7rem;
          border-radius: 2rem;
          text-transform: uppercase;
        }
      }
    }
  }
  .main_content {
    .transform_brand {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .transform_text {
        flex-basis: 100%;
        padding: 0;
        width: 48%;
        order: 1;
        p {
          padding: 0 4rem;
        }
      }
      .img_transform {
        flex-basis: 100%;
        width: 50%;
        height: 100%;
        order: 2;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    .stand_out {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .img_standOut {
        flex-basis: 100%;
        width: 50%;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .stand_out_text {
        flex-basis: 100%;
        width: 48%;
        padding: 0;
        p {
          padding: 0 4rem;
        }
      }
    }
    .brand {
      display: grid;
      grid-template-columns: repeat(2, 12fr);
      .desktop_photography,
      .desktop_design {
        display: block;
      }
      .graphic_design {
        grid: 6fr;
        img {
          width: 100%;
        }
        .graphic_design_text {
          padding: 5rem 2rem;
        }
      }
      .photography {
        grid: 6fr;
        img {
          width: 100%;
        }
      }
    }
    .client_testimonials {
      flex-direction: row;
      flex-wrap: wrap;
      h2 {
        flex-basis: 100%;
      }
      div {
        flex-basis: 25%;
        img{
            width: 100%;
        }
      }
    }
    .images_group {
      grid-template-columns: repeat(4, 12fr);
      grid-template-rows: auto;
    }
  }

  .navbar_mobile {
    display: none;
  }
  .image_header_desktop {
    display: block;
    width: 100%;
  }
  .image_header_mobile {
    display: none;
  }
  .mobile_photography,
  .mobile_design {
    display: none;
  }
}
