html {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
}

.navbar_mobile {
  position: absolute;
  width: 100%;
}

.navbar_mobile .navbar_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .image_header_mobile {
  width: 100%;
}

.header .header_text {
  max-width: 31.5rem;
  width: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  top: 2%;
}

.header .header_text h1 {
  max-width: 50rem;
  width: 100%;
  font-size: 2.7rem;
  padding: 2rem;
  font-family: "Fraunces", serif;
  text-align: center;
  color: white;
  letter-spacing: 0.8rem;
  margin-bottom: 4rem;
}

.header .header_text img {
  max-width: 3.2rem;
}

.main_content .transform_brand img {
  width: 100%;
}

.main_content .transform_brand .transform_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 4.3rem 1.8rem;
}

.main_content .transform_brand h2 {
  font-family: "Fraunces", serif;
  font-size: 2rem;
  text-align: center;
  color: #23303e;
}

.main_content .transform_brand p {
  text-align: center;
  font-family: "Barlow", sans-serif;
  color: #818498;
  font-weight: 600;
  line-height: 1.8rem;
  font-size: 1.2rem;
}

.main_content .transform_brand h3 {
  font-family: "Fraunces", serif;
  color: #23303e;
  text-transform: uppercase;
  font-weight: 800;
  position: relative;
  z-index: 2;
  font-size: 1rem;
}

.main_content .transform_brand h3::after {
  content: " ";
  position: absolute;
  background-color: #fad400;
  width: 115px;
  height: 10px;
  left: 0;
  top: 70%;
  border-radius: 15px;
  z-index: 0;
  opacity: 40%;
}

.main_content .stand_out img {
  width: 100%;
}

.main_content .stand_out .stand_out_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 4.3rem 1.8rem;
}

.main_content .stand_out h2 {
  font-family: "Fraunces", serif;
  font-size: 2rem;
  text-align: center;
  color: #23303e;
}

.main_content .stand_out p {
  text-align: center;
  font-family: "Barlow", sans-serif;
  color: #818498;
  font-weight: 600;
  line-height: 1.8rem;
  font-size: 1.2rem;
}

.main_content .stand_out h3 {
  font-family: "Fraunces", serif;
  color: #23303e;
  text-transform: uppercase;
  font-weight: 800;
  position: relative;
  z-index: 2;
  font-size: 1rem;
}

.main_content .stand_out h3::after {
  content: " ";
  position: absolute;
  background-color: #fe7867;
  width: 115px;
  height: 10px;
  left: 0;
  top: 70%;
  border-radius: 15px;
  z-index: 0;
  opacity: 40%;
}

.main_content .desktop_photography,
.main_content .desktop_design {
  display: none;
}

.main_content .graphic_design {
  position: relative;
}

.main_content .graphic_design img {
  width: 100%;
  height: 100%;
}

.main_content .graphic_design .graphic_design_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 4.3rem 1.8rem;
  position: absolute;
  top: 50%;
}

.main_content .graphic_design h2 {
  font-family: "Fraunces", serif;
  font-size: 2rem;
  text-align: center;
  color: #25564b;
}

.main_content .graphic_design p {
  text-align: center;
  font-family: "Barlow", sans-serif;
  color: #818498;
  font-weight: 600;
  line-height: 1.8rem;
  font-size: 1.2rem;
  color: #25564b;
}

.main_content .photography {
  position: relative;
}

.main_content .photography img {
  width: 100%;
}

.main_content .photography .photography_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 4.3rem 1.8rem;
  position: absolute;
  top: 50%;
}

.main_content .photography h2 {
  font-family: "Fraunces", serif;
  font-size: 2rem;
  text-align: center;
  color: #19536b;
}

.main_content .photography p {
  text-align: center;
  font-family: "Barlow", sans-serif;
  color: #818498;
  font-weight: 600;
  line-height: 1.8rem;
  font-size: 1.2rem;
  color: #19536b;
}

.main_content .client_testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main_content .client_testimonials h2 {
  font-family: "Fraunces", serif;
  font-size: 1.1rem;
  text-align: center;
  color: #a7abae;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  margin-top: 3.5rem;
  margin-bottom: 2.1rem;
  font-weight: bolder;
}

.main_content .client_testimonials div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px 30px;
}

.main_content .client_testimonials div img {
  max-width: 74px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.main_content .client_testimonials div p {
  text-align: center;
  font-family: "Barlow", sans-serif;
  color: #818498;
  font-weight: 600;
  line-height: 1.8rem;
  font-size: 1.2rem;
}

.main_content .client_testimonials div h3 {
  font-family: "Fraunces", serif;
  font-size: 1.5rem;
  text-align: center;
  color: #23303e;
  font-weight: 900;
  margin-bottom: 0.6rem;
}

.main_content .client_testimonials div h4 {
  font-family: "Barlow", sans-serif;
  color: #818498;
  font-weight: 600;
  margin-top: 0rem;
}

.main_content .images_group {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (12fr)[2];
      grid-template-columns: repeat(2, 12fr);
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  margin-top: 1.3rem;
}

.main_content .images_group img {
  width: 100%;
}

.footer {
  background-color: #6bd1bd;
  padding: 71px 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .logo_footer {
  margin-bottom: 80px;
  width: 13rem;
}

.footer .footer_content {
  margin-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer_content a {
  text-decoration: none;
  color: #25564b;
  font-family: "Barlow", sans-serif;
  font-weight: 800;
  font-size: 1.3rem;
  opacity: 50%;
}

.footer .social_media_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.footer .social_media_icons img {
  width: 25px;
}

.navbar_desktop {
  display: none;
}

.image_header_desktop {
  display: none;
}

@media (min-width: 65em) {
  .navbar_desktop {
    display: block;
    position: absolute;
    width: 100%;
  }
  .navbar_desktop .navbar_items_desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2rem;
  }
  .navbar_desktop .navbar_items_desktop .nav_content {
    text-decoration: none;
    font-family: "Barlow", sans-serif;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 3rem;
    margin-right: 1rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar_desktop .navbar_items_desktop .nav_content a {
    text-decoration: none;
    font-family: "Barlow", sans-serif;
    color: white;
    font-weight: 600;
  }
  .navbar_desktop .navbar_items_desktop .nav_content .contact {
    font-family: "Fraunces", serif;
    background-color: white;
    color: black;
    padding: 0.8rem 1.7rem;
    border-radius: 2rem;
    text-transform: uppercase;
  }
  .main_content .transform_brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main_content .transform_brand .transform_text {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding: 0;
    width: 48%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .main_content .transform_brand .transform_text p {
    padding: 0 4rem;
  }
  .main_content .transform_brand .img_transform {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    width: 50%;
    height: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .main_content .transform_brand .img_transform img {
    width: 100%;
    height: 100%;
  }
  .main_content .stand_out {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main_content .stand_out .img_standOut {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    width: 50%;
    height: 100%;
  }
  .main_content .stand_out .img_standOut img {
    width: 100%;
    height: 100%;
  }
  .main_content .stand_out .stand_out_text {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    width: 48%;
    padding: 0;
  }
  .main_content .stand_out .stand_out_text p {
    padding: 0 4rem;
  }
  .main_content .brand {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (12fr)[2];
        grid-template-columns: repeat(2, 12fr);
  }
  .main_content .brand .desktop_photography,
  .main_content .brand .desktop_design {
    display: block;
  }
  .main_content .brand .graphic_design {
    grid: 6fr;
  }
  .main_content .brand .graphic_design img {
    width: 100%;
  }
  .main_content .brand .graphic_design .graphic_design_text {
    padding: 5rem 2rem;
  }
  .main_content .brand .photography {
    grid: 6fr;
  }
  .main_content .brand .photography img {
    width: 100%;
  }
  .main_content .client_testimonials {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main_content .client_testimonials h2 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .main_content .client_testimonials div {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
  .main_content .client_testimonials div img {
    width: 100%;
  }
  .main_content .images_group {
    -ms-grid-columns: (12fr)[4];
        grid-template-columns: repeat(4, 12fr);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  .navbar_mobile {
    display: none;
  }
  .image_header_desktop {
    display: block;
    width: 100%;
  }
  .image_header_mobile {
    display: none;
  }
  .mobile_photography,
  .mobile_design {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */